/* ============================================= General ============================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(1, 56, 159);
    --secondary-color: rgb(0, 69, 197);
    --tertiary-color: rgb(54, 120, 242);
    --headline: rgb(255, 255, 255);
    --sub-headline: ;
    --paragraph: ;

    --nav-height: 10rem;

    font-size: 62.5%; /* 1 rem = 10px*/
}

html {
    scroll-behavior: smooth;
}

body {    
    font-family: 'DM Sans';
    font-size: 1.4rem;
    text-align: center;  
}

/* 
    - Mobile: min 320px - max 1023px 
    - Descktop: min 1024px - max 1440px

*/

h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: brown;

}

h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    color: pink;

}

p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: red;

}

.wrapper {
    width: min(102.4rem, 100%);   
    margin-inline: auto;         
    overflow: overlay;
    overflow-x: hidden;
} 


/* ============================================= Navigation ============================================= */

/* ============================================= Menu expended ============================================= */

/* ============================================= Home ============================================= */

/* ============================================= About ============================================= */

/* ============================================= Expertises ============================================= */

/* ============================================= Certifications ============================================= */

/* ============================================= Projects  ============================================= */

/* ============================================= Contact ============================================= */